In [1]:
import pandas as pd
import numpy as np
import random
import plotly as px
import plotly_express as go

import matplotlib.pyplot as plt
import seaborn as sns
from termcolor import colored
import warnings

color_pal = sns.color_palette("husl", 9)
warnings.filterwarnings('ignore')


import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

In [2]:
df_kilifi = pd.read_csv("KilifiSub.csv")
df_kilifi

              Datetime  AvgKv1  AvgKv2  AvgKv3
0      7/21/2022 15:40   75.65   76.29   76.19
1      7/21/2022 15:45   75.47   76.13   76.02
2      7/21/2022 15:50   75.76   76.40   76.28
3      7/21/2022 15:55   75.71   76.34   76.22
4      7/21/2022 16:00   75.73   76.37   76.25
...                ...     ...     ...     ...
17275  9/19/2022 15:15   74.89   75.62   75.41
17276  9/19/2022 15:20   74.45   75.17   74.97
17277  9/19/2022 15:25   75.57   76.24   76.05
17278  9/19/2022 15:30   75.57   76.25   76.05
17279  9/19/2022 15:35   75.30   75.99   75.80

[17280 rows x 4 columns]